<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
<h1>제목: {{ item.title }}</h1>
<h3>장르: {{ item.genre }}</h3>
<strong>사용자: {{ item.author }}</strong>
<p>내용: {{ item.text }}</p>
</div>
<form action="{% url 'post-detail' pk=item.id %}" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="등록">
</form>

<div>
    {% for comment in comments %}
        {{ comments.comment_text }}
    {% endfor %}
</div>

<div>
<a href="{% url 'post-update' pk=item.id %}"><button>수정</button></a>
<a href="{% url 'post-delete' pk=item.id %}"><button>제거</button></a>
</div>

</body>
</html>
